<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta name="csrf-param" content="_csrf">
	<meta name="csrf-token" content="bkhMSWNDa2oWLC9xEnYKR1Z6YQsREj8FWAs.KzotHF82ACcnEBA9DQ==">
	<title>发现</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
	<meta content="telephone=no" name="format-detection"/>
	<script src="/dist/common/index.js"></script>
</head>

<body>

<div id="app"></div>
<script>
    const options = {
        data: {
            "coupons": [{
                "code": "2017101636",
                "endtime": "2018-11-01",
                "f_title": "\u6d3b\u52a8\u53d1\u653e",
                "id": "77313",
                "intime": "1508310743",
                "minprice": 10,
                "price": 20,
                "starttime": "1506852000",
                "status": "1",
                "title": "\u73b0\u91d1\u52382017101001",
                "type": "\u73b0\u91d1\u5238",
                "usetype": "3",
                "_status": "\u53ef\u4f7f\u7528"
            }, {
                "code": "2017101635",
                "endtime": "2018-11-01",
                "f_title": "\u6d3b\u52a8\u53d1\u653e",
                "id": "77312",
                "intime": "1507621308",
                "minprice": 10,
                "price": 20,
                "starttime": "1506852000",
                "status": "1",
                "title": "\u73b0\u91d1\u52382017101001",
                "type": "\u73b0\u91d1\u5238",
                "usetype": "3",
                "_status": "\u53ef\u4f7f\u7528"
            },
                {
                    "code": "2017101636",
                    "endtime": "2018-11-01",
                    "f_title": "\u6d3b\u52a8\u53d1\u653e",
                    "id": "77313",
                    "intime": "1508310743",
                    "minprice": 10,
                    "price": 20,
                    "starttime": "1506852000",
                    "status": "3",
                    "title": "\u73b0\u91d1\u52382017101001",
                    "type": "\u73b0\u91d1\u5238",
                    "usetype": "3",
                    "_status": "\u53ef\u4f7f\u7528"
                }, {
                    "code": "2017101635",
                    "endtime": "2018-11-01",
                    "f_title": "\u6d3b\u52a8\u53d1\u653e",
                    "id": "77312",
                    "intime": "1507621308",
                    "minprice": 10,
                    "price": 20,
                    "starttime": "1506852000",
                    "status": "4",
                    "title": "\u73b0\u91d1\u52382017101001",
                    "type": "\u73b0\u91d1\u5238",
                    "usetype": "3",
                    "_status": "\u53ef\u4f7f\u7528"
                }
            ],
        },
        href: {
            "apiCouponview": '/dyh5_dev/web/my/couponview?b=dy&ch=0009&a=110100&ci=66778833',    //优惠券详情
        }
    };

    console.dir(options)
</script>
<script src="/dist/coupon/index.js"></script>
</body>

</html>