<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" media="screen" />
</head>
<body>
<div id="app">

</div>
<script> 
    const options = {
        "orderDetails":{
            "cinema_addr":"北京市东城区",
            "cinema_code":"66778833",
            "cinema_name":"测试影院66778833",
            "cinema_tel":"56451321321",
            "client":"1",
            "create_date":"2017-08-30 14:39:29",
            "expire_date":"2017-08-30 14:54:29",
            "id":"2fe9cb67-2b56-48a0-a790-07b80ce2ae41",
            "itemname":"snack",
            "mobile":"18675521030",
            "order_code":"501708301100000020",
            "order_status":"1",
            "scec_order_code":"501708301100000020",
            "snack_pay_amount":23,
            "snack_service_fee":0,
            "snack_status":"1",
            "snacks":[
                {
                    "connect_fee":0,
                    "count":1,
                    "name":"123",
                    "settle_price":23,
                    "snackCode":"1500367838443",
                    "std_price":23,
                    "type":"123"
                }
            ]
        },
        "arrPay":{
            "cinema_pays":[
                {
                    "member_price":0,
                    "pay_amount":23,
                    "pay_type":"WECHAT_JS",
                    "paytype_name":"微信JS-兜有影院公众号",
                    "remark":"",
                    "service_fee":0,
                    "ticket_price":23
                }
            ],
            "card_discounts":[
    
            ]
        }
    }
</script>
<script src="/dist/mealOrder/index.js"></script>
</body>
</html>