//随机数字
@function parse-random($value) {
  @return round(random() * $value);
}
$randomId: parse-random(1000000);

$spriteSrc:'../../../../images/sprites/skin_2/sprite.png?v=#{$randomId}';

$spriteWidth: 633px;
$spriteHeight: 578px;
$aboutUs-logo: 0px 0px 180px 180px;
$acti-eye: -445px -398px 40px 24px;
$acti-thumb: -555px -453px 34px 35px;
$backto-home: -399px -303px 36px 32px;
$backto-top: -555px -496px 32px 36px;
$balance: -134px -303px 49px 56px;
$bd: -499px -321px 45px 45px;
$bg-card: -400px -434px 46px 36px;
$call-out: -284px -434px 50px 42px;
$card-refresh: -603px -487px 22px 22px;
$cinema: -603px -421px 26px 24px;
$clock: -412px -125px 20px 20px;
$close_1: -79px -542px 31px 31px;
$close: -300px -490px 33px 34px;
$comment: -168px -434px 50px 43px;
$coupon-arrow: -603px -281px 26px 26px;
$coupon: -226px -434px 50px 42px;
$detail: -445px -64px 42px 54px;
$dialog-close: -555px -144px 38px 37px;
$dislike-selected: -445px -180px 46px 46px;
$dislike: -445px -288px 46px 46px;
$double-sided-arrow: -415px -83px 20px 20px;
$download: -603px -453px 21px 26px;
$edit: -112px -434px 48px 48px;
$egg: -603px -349px 24px 28px;
$eye: -342px -268px 38px 23px;
$feedback: -342px -434px 50px 40px;
$filtrate: -454px -434px 33px 34px;
$find-selected: -499px -428px 44px 46px;
$find: -499px -374px 44px 46px;
$footer-good: 0px -375px 51px 51px;
$footer-review: -117px -375px 50px 51px;
$footer-share: -59px -375px 50px 51px;
$gift: 0px -303px 56px 64px;
$gwr: -499px -106px 45px 46px;
$hand-dislike: -555px -409px 34px 36px;
$hand-like: -555px -365px 34px 36px;
$home-selected: -191px -303px 56px 48px;
$home: -255px -303px 56px 48px;
$hook: -603px -549px 26px 18px;
$hook1: -341px -490px 33px 33px;
$hook2: -188px -154px 32px 24px;
$key: -555px -321px 36px 36px;
$light: -39px -542px 32px 34px;
$like-selected: -445px -126px 46px 46px;
$like: -445px -234px 46px 46px;
$location-1: -603px 0px 30px 36px;
$location-2: -603px -88px 28px 35px;
$location: -603px -517px 20px 24px;
$login_logo: -188px 0px 146px 146px;
$lost: -342px 0px 95px 46px;
$me-selected: 0px -434px 48px 48px;
$me: -56px -434px 48px 48px;
$member-card-tag: -319px -303px 72px 36px;
$mobile: -603px -44px 29px 36px;
$more: -228px -154px 30px 6px;
$msg: -424px -490px 32px 30px;
$my: -499px -268px 45px 45px;
$night: -415px -54px 21px 21px;
$open-vip: -342px -195px 58px 65px;
$order: -555px -189px 36px 39px;
$pay-fail: -116px -188px 80px 80px;
$pay-success: -204px -188px 79px 80px;
$pay: -250px -490px 42px 37px;
$pen: -50px -490px 42px 42px;
$phone: -342px -125px 62px 62px;
$place: -412px -153px 18px 22px;
$play-white: -388px -268px 17px 20px;
$play: -408px -195px 28px 40px;
$pwd: 0px -542px 31px 36px;
$qq: -499px -160px 45px 46px;
$qr-code: -175px -375px 50px 50px;
$question: -499px -214px 45px 46px;
$recharge: -295px -375px 56px 41px;
$reload: -603px -385px 24px 28px;
$search: -118px -542px 31px 31px;
$seat-empty: -100px -490px 42px 39px;
$seat-mark-1: -157px -542px 32px 30px;
$seat-mark-2: -464px -490px 32px 30px;
$seat-mark-3: -504px -490px 32px 30px;
$seat-mark-4: -359px -375px 72px 30px;
$seat-mark-5: -382px -490px 34px 30px;
$seat-my: -200px -490px 42px 39px;
$seat-other: -150px -490px 42px 39px;
$setting: -555px -236px 38px 36px;
$shop: -64px -303px 62px 57px;
$stage-photo: -603px -245px 28px 28px;
$star-empty: -555px 0px 40px 40px;
$star-full: -555px -48px 40px 40px;
$star-half: -555px -96px 40px 40px;
$star: -342px -54px 65px 63px;
$store-selected: -291px -188px 42px 48px;
$store: -445px -342px 42px 48px;
$sun: -603px -315px 26px 26px;
$tb: -499px -52px 45px 46px;
$thumb-active-1: -603px -207px 30px 30px;
$thumb-active: -603px -169px 30px 30px;
$thumb: -603px -131px 30px 30px;
$unlock: -445px 0px 46px 56px;
$use: -555px -280px 40px 33px;
$used: 0px -490px 42px 44px;
$vip: -233px -375px 54px 44px;
$wechat: 0px -188px 108px 107px;
$wx: -499px 0px 48px 44px;

@function px2rem ($px) {
  @if (type-of($px) == "number") {
    @return $px / 75px * 1rem;
  }
  @if (type-of($px) == "list") {
    @if (nth($px, 1) == 0 and nth($px, 2) != 0) {
      @return 0 nth($px, 2) / 75px * 1rem;
    } @else if (nth($px, 1) == 0 and nth($px, 2) == 0)  {
      @return 0 0;
    } @else if (nth($px, 1) != 0 and nth($px, 2) == 0) {
      @return nth($px, 1) / 75px * 1rem 0;
    } @else {
      @return nth($px, 1) / 75px *1rem nth($px, 2) / 75px * 1rem;
    }
  }
}

@function strip-units($number){
  @return $number / ($number * 0 + 1);
}

@function format-zero($number){
	@if $number == 0 {
		@return 1;
	}@else{
		@return $number;
	}
}

@mixin sprite-width($sprite, $precision) {
	@if $precision {
		width: px2rem(nth($sprite, 3));
	}@else{
		width: px2rem(nth($sprite, 3) + 2px);
	}
	
}

@mixin sprite-height($sprite, $precision) {
	@if $precision {
		height: px2rem(nth($sprite, 4));
	}@else{
		height: px2rem(nth($sprite, 4) + 2px);
	}
}

@mixin sprite-position($sprite, $precision) {
	@if $precision {
		background-position: strip-units(nth($sprite, 1)) / strip-units(nth($sprite, 3) - $spriteWidth) * 100%  strip-units(nth($sprite, 2)) / format-zero(strip-units(nth($sprite, 4) - $spriteHeight)) * 100%;
	}@else{
		background-position: strip-units(nth($sprite, 1)) / strip-units(nth($sprite, 3) + 1 - $spriteWidth) * 100%  strip-units(nth($sprite, 2)) / format-zero(strip-units(nth($sprite, 4) + 1 - $spriteHeight)) * 100%;
	}
}

@mixin sprite($sprite, $precision) {
	@include sprite-position($sprite, $precision);
	@include sprite-width($sprite, $precision);
	@include sprite-height($sprite, $precision);
}

%common-sprite{
	background-image: url('#{$spriteSrc}');
	background-repeat: no-repeat;
	background-size: px2rem(($spriteWidth, $spriteHeight));
    display: inline-block;
}


.icon-aboutUs-logo {
	@extend %common-sprite;
    @include sprite($aboutUs-logo, false);
}
.icon-acti-eye {
	@extend %common-sprite;
    @include sprite($acti-eye, false);
}
.icon-acti-thumb {
	@extend %common-sprite;
    @include sprite($acti-thumb, false);
}
.icon-backto-home {
	@extend %common-sprite;
    @include sprite($backto-home, false);
}
.icon-backto-top {
	@extend %common-sprite;
    @include sprite($backto-top, false);
}
.icon-balance {
	@extend %common-sprite;
    @include sprite($balance, false);
}
.icon-bd {
	@extend %common-sprite;
    @include sprite($bd, false);
}
.icon-bg-card {
	@extend %common-sprite;
    @include sprite($bg-card, false);
}
.icon-call-out {
	@extend %common-sprite;
    @include sprite($call-out, false);
}
.icon-card-refresh {
	@extend %common-sprite;
    @include sprite($card-refresh, false);
}
.icon-cinema {
	@extend %common-sprite;
    @include sprite($cinema, false);
}
.icon-clock {
	@extend %common-sprite;
    @include sprite($clock, false);
}
.icon-close_1 {
	@extend %common-sprite;
    @include sprite($close_1, false);
}
.icon-close {
	@extend %common-sprite;
    @include sprite($close, false);
}
.icon-comment {
	@extend %common-sprite;
    @include sprite($comment, false);
}
.icon-coupon-arrow {
	@extend %common-sprite;
    @include sprite($coupon-arrow, false);
}
.icon-coupon {
	@extend %common-sprite;
    @include sprite($coupon, false);
}
.icon-detail {
	@extend %common-sprite;
    @include sprite($detail, false);
}
.icon-dialog-close {
	@extend %common-sprite;
    @include sprite($dialog-close, false);
}
.icon-dislike-selected {
	@extend %common-sprite;
    @include sprite($dislike-selected, false);
}
.icon-dislike {
	@extend %common-sprite;
    @include sprite($dislike, false);
}
.icon-double-sided-arrow {
	@extend %common-sprite;
    @include sprite($double-sided-arrow, false);
}
.icon-download {
	@extend %common-sprite;
    @include sprite($download, false);
}
.icon-edit {
	@extend %common-sprite;
    @include sprite($edit, false);
}
.icon-egg {
	@extend %common-sprite;
    @include sprite($egg, false);
}
.icon-eye {
	@extend %common-sprite;
    @include sprite($eye, false);
}
.icon-feedback {
	@extend %common-sprite;
    @include sprite($feedback, false);
}
.icon-filtrate {
	@extend %common-sprite;
    @include sprite($filtrate, false);
}
.icon-find-selected {
	@extend %common-sprite;
    @include sprite($find-selected, false);
}
.icon-find {
	@extend %common-sprite;
    @include sprite($find, false);
}
.icon-footer-good {
	@extend %common-sprite;
    @include sprite($footer-good, false);
}
.icon-footer-review {
	@extend %common-sprite;
    @include sprite($footer-review, false);
}
.icon-footer-share {
	@extend %common-sprite;
    @include sprite($footer-share, false);
}
.icon-gift {
	@extend %common-sprite;
    @include sprite($gift, false);
}
.icon-gwr {
	@extend %common-sprite;
    @include sprite($gwr, false);
}
.icon-hand-dislike {
	@extend %common-sprite;
    @include sprite($hand-dislike, false);
}
.icon-hand-like {
	@extend %common-sprite;
    @include sprite($hand-like, false);
}
.icon-home-selected {
	@extend %common-sprite;
    @include sprite($home-selected, false);
}
.icon-home {
	@extend %common-sprite;
    @include sprite($home, false);
}
.icon-hook {
	@extend %common-sprite;
    @include sprite($hook, false);
}
.icon-hook1 {
	@extend %common-sprite;
    @include sprite($hook1, false);
}
.icon-hook2 {
	@extend %common-sprite;
    @include sprite($hook2, false);
}
.icon-key {
	@extend %common-sprite;
    @include sprite($key, false);
}
.icon-light {
	@extend %common-sprite;
    @include sprite($light, false);
}
.icon-like-selected {
	@extend %common-sprite;
    @include sprite($like-selected, false);
}
.icon-like {
	@extend %common-sprite;
    @include sprite($like, false);
}
.icon-location-1 {
	@extend %common-sprite;
    @include sprite($location-1, false);
}
.icon-location-2 {
	@extend %common-sprite;
    @include sprite($location-2, false);
}
.icon-location {
	@extend %common-sprite;
    @include sprite($location, false);
}
.icon-login_logo {
	@extend %common-sprite;
    @include sprite($login_logo, false);
}
.icon-lost {
	@extend %common-sprite;
    @include sprite($lost, false);
}
.icon-me-selected {
	@extend %common-sprite;
    @include sprite($me-selected, false);
}
.icon-me {
	@extend %common-sprite;
    @include sprite($me, false);
}
.icon-member-card-tag {
	@extend %common-sprite;
    @include sprite($member-card-tag, false);
}
.icon-mobile {
	@extend %common-sprite;
    @include sprite($mobile, false);
}
.icon-more {
	@extend %common-sprite;
    @include sprite($more, false);
}
.icon-msg {
	@extend %common-sprite;
    @include sprite($msg, false);
}
.icon-my {
	@extend %common-sprite;
    @include sprite($my, false);
}
.icon-night {
	@extend %common-sprite;
    @include sprite($night, false);
}
.icon-open-vip {
	@extend %common-sprite;
    @include sprite($open-vip, false);
}
.icon-order {
	@extend %common-sprite;
    @include sprite($order, false);
}
.icon-pay-fail {
	@extend %common-sprite;
    @include sprite($pay-fail, false);
}
.icon-pay-success {
	@extend %common-sprite;
    @include sprite($pay-success, false);
}
.icon-pay {
	@extend %common-sprite;
    @include sprite($pay, false);
}
.icon-pen {
	@extend %common-sprite;
    @include sprite($pen, false);
}
.icon-phone {
	@extend %common-sprite;
    @include sprite($phone, false);
}
.icon-place {
	@extend %common-sprite;
    @include sprite($place, false);
}
.icon-play-white {
	@extend %common-sprite;
    @include sprite($play-white, false);
}
.icon-play {
	@extend %common-sprite;
    @include sprite($play, false);
}
.icon-pwd {
	@extend %common-sprite;
    @include sprite($pwd, false);
}
.icon-qq {
	@extend %common-sprite;
    @include sprite($qq, false);
}
.icon-qr-code {
	@extend %common-sprite;
    @include sprite($qr-code, false);
}
.icon-question {
	@extend %common-sprite;
    @include sprite($question, false);
}
.icon-recharge {
	@extend %common-sprite;
    @include sprite($recharge, false);
}
.icon-reload {
	@extend %common-sprite;
    @include sprite($reload, false);
}
.icon-search {
	@extend %common-sprite;
    @include sprite($search, false);
}
.icon-seat-empty {
	@extend %common-sprite;
    @include sprite($seat-empty, false);
}
.icon-seat-mark-1 {
	@extend %common-sprite;
    @include sprite($seat-mark-1, false);
}
.icon-seat-mark-2 {
	@extend %common-sprite;
    @include sprite($seat-mark-2, false);
}
.icon-seat-mark-3 {
	@extend %common-sprite;
    @include sprite($seat-mark-3, false);
}
.icon-seat-mark-4 {
	@extend %common-sprite;
    @include sprite($seat-mark-4, false);
}
.icon-seat-mark-5 {
	@extend %common-sprite;
    @include sprite($seat-mark-5, false);
}
.icon-seat-my {
	@extend %common-sprite;
    @include sprite($seat-my, false);
}
.icon-seat-other {
	@extend %common-sprite;
    @include sprite($seat-other, false);
}
.icon-setting {
	@extend %common-sprite;
    @include sprite($setting, false);
}
.icon-shop {
	@extend %common-sprite;
    @include sprite($shop, false);
}
.icon-stage-photo {
	@extend %common-sprite;
    @include sprite($stage-photo, false);
}
.icon-star-empty {
	@extend %common-sprite;
    @include sprite($star-empty, false);
}
.icon-star-full {
	@extend %common-sprite;
    @include sprite($star-full, false);
}
.icon-star-half {
	@extend %common-sprite;
    @include sprite($star-half, false);
}
.icon-star {
	@extend %common-sprite;
    @include sprite($star, false);
}
.icon-store-selected {
	@extend %common-sprite;
    @include sprite($store-selected, false);
}
.icon-store {
	@extend %common-sprite;
    @include sprite($store, false);
}
.icon-sun {
	@extend %common-sprite;
    @include sprite($sun, false);
}
.icon-tb {
	@extend %common-sprite;
    @include sprite($tb, false);
}
.icon-thumb-active-1 {
	@extend %common-sprite;
    @include sprite($thumb-active-1, false);
}
.icon-thumb-active {
	@extend %common-sprite;
    @include sprite($thumb-active, false);
}
.icon-thumb {
	@extend %common-sprite;
    @include sprite($thumb, false);
}
.icon-unlock {
	@extend %common-sprite;
    @include sprite($unlock, false);
}
.icon-use {
	@extend %common-sprite;
    @include sprite($use, false);
}
.icon-used {
	@extend %common-sprite;
    @include sprite($used, false);
}
.icon-vip {
	@extend %common-sprite;
    @include sprite($vip, false);
}
.icon-wechat {
	@extend %common-sprite;
    @include sprite($wechat, false);
}
.icon-wx {
	@extend %common-sprite;
    @include sprite($wx, false);
}
