@charset 'utf-8';
html,
body {
    //background: $c1 !important;
}

.m-aboutUs-views {
    color:$c4;    
}
.m-aboutUs-head{
    .name{
        color:$c6;
    }
}
.m-aboutUs-content {
    .layout-1{
        background-color: $c1;
        .item{
            @include solid(2px, $c10, bottom);
            .text{
                color:$c4;
            } 
            &::last-child{
                border:none;
            }
            .arrow-right {
                &:before {
                    border-left-color: $c3;
                }
                &:after {
                    border-left-color: $c1;
                }
            }
        }
    }
}

.m-aboutUs-foot{
    .button{
        background-color: $c1;
        color: $c7;
        box-shadow: 2px 2px 10px rgba($c4, 0.5);
    }
}