@charset 'utf-8';
html,
body {
    //background: $c1 !important;
}

.m-change-mobile-views {   
    background: $c1; 
    .flex {
        @include solid(2px, $c3, bottom);
        .getCode {
            color: $c7;
            @include solid(2px, $c3, left);
            &.gray {
                color: $c4;
            }
        }
        .disabled{
            background-color: $c1;
            color: $c4;
        }
    }
    input {
        color: $c0;
    }
     ::-webkit-input-placeholder {
        color: $c4;
    }
    .tips {
        color: $c7;
    }
    .button {
        background-color: $c7;
        color: $c1;
        box-shadow: 2px 2px 10px rgba($c7, 0.5);
    }
    .msg {
        color: $c6;
    }
}

