.m-views-find-password {
    .inputs {
        .input {
            @include solid(2px, $c3, bottom);
            .countdown {
                color: $c7;
                @include solid(2px, $c3, left);
                &.disabled {
                    color: $c4;
                }
            }
        }
         ::-webkit-input-placeholder {
            color: $c4;
        }
        .btn {
            color: $c1;
            background-color: $c7;
            box-shadow: 0 r(2) r(14) 0 rgba($c7, 0.5);
            &.disabled {
                opacity: .5;
            }
        }
    }
}