@charset "UTF-8";
.m-login-views{
	.header{		
        background-image: url(../../../../images/common/skin_1/login-bg.png);
        background-size: 100% 100%;
	}	
}
.m-version-update{
	.m-header{
		background-image: url(../../../../images/common/skin_1/update.png);
        background-size: 100% 100%;
	}
}