<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="bkhMSWNDa2oWLC9xEnYKR1Z6YQsREj8FWAs.KzotHF82ACcnEBA9DQ==">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta content="telephone=no" name="format-detection"/>
</head>
<body >

<div id="app"></div>
<script>
    const options = {
        data: {"apiSendsms":"\/dyh5\/web\/index.php?r=user%2Fsendsmscodecard","apiBindcard":"\/dyh5\/web\/index.php?r=mcard%2Fbind","cinema":{"cinema":{"access_type":"\u706b\u70c8\u9e1f","cinema_address":"\u5317\u4eac\u5e02\u4e1c\u57ce\u533a","cinema_code":"66778833","cinema_id":"45252293-1ca9-4a37-8b61-0e2dff57674d","cinema_name":"\u6d4b\u8bd5\u5f71\u966266778833","city_code":"110100","feature":"","feature_service":[],"grade":"8.0","perfectsurr":[],"tel":"56451321321"},"code":"0000","msg":"\u64cd\u4f5c\u6210\u529f\u3002","success":true}},
        href: {
            apiSendsms: '/dyh5/web/index.php?r=user%2Fsendsmscodecard',//发送短信验证码
            apiBindcard: '/dyh5/web/index.php?r=mcard%2Fbind',// 绑定会员卡
        },
    };

    console.dir(options)
</script>
<script src="/dist/error/index.js"></script>
<script src="/js/error.js"></script>
</body>
</html>
