<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="bkhMSWNDa2oWLC9xEnYKR1Z6YQsREj8FWAs.KzotHF82ACcnEBA9DQ==">
    <title>发现</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta content="telephone=no" name="format-detection" />
</head>

<body>

    <div id="app"></div>
    <script>
        const options = {
            bannerImage: {
                "index": ["http:\/\/php.sztest.mopon.cn\/dyh5\/web\/upload\/banner01.jpg",
                    "http:\/\/php.sztest.mopon.cn\/dyh5\/web\/upload\/banner02.jpg",
                    "http:\/\/php.sztest.mopon.cn\/dyh5\/web\/upload\/banner03.jpg"
                ],
                "seats": ["http:\/\/php.sztest.mopon.cn\/dyh5\/web\/upload\/dd.png"],
                "act": ["http:\/\/php.sztest.mopon.cn\/dyh5\/web\/upload\/act01.jpg",
                    "http:\/\/php.sztest.mopon.cn\/dyh5\/web\/upload\/act02.jpg"
                ]
            },
            data: {
                "finds": [{
                    "id": 3,
                    "title": "\u4f60\u8981\u662f\u4e0d\u8d70\u8fdb\u9633\u5149\uff0c\u5c31\u4f1a\u88ab\u9ed1\u6697\u541e\u566c",
                    "author": "JYFL",
                    "tag_title": "\u5f71\u8bc4",
                    "tag_id": 1,
                    "istop": 1,
                    "source": 2,
                    "coverimg": "",
                    "showtime": "2017-08-22 14:50:51",
                    "uptime": "2017-08-22 16:52:16",
                    "intime": "2017-08-22 16:52:16",
                    "status": 2,
                    "ui_status": "\u4e0b\u67b6",
                    "film_code": "C10002"
                }, {
                    "id": 5,
                    "title": "\u4f60\u8981\u662f\u4e0d\u8d70\u8fdb\u9633\u5149\uff0c\u5c31\u4f1a\u88ab\u9ed1\u6697\u541e\u566c",
                    "author": "JYFL",
                    "tag_title": "\u5f71\u8bc4",
                    "tag_id": 1,
                    "istop": 1,
                    "source": 2,
                    "coverimg": "",
                    "showtime": "2017-08-22 14:50:48",
                    "uptime": "2017-08-22 16:55:06",
                    "intime": "2017-08-22 16:55:06",
                    "status": 1,
                    "ui_status": "\u4e0a\u67b6",
                    "film_code": "C10002"
                }, {
                    "id": 4,
                    "title": "\u4f60\u8981\u662f\u4e0d\u8d70\u8fdb\u9633\u5149\uff0c\u5c31\u4f1a\u88ab\u9ed1\u6697\u541e\u566c",
                    "author": "JYFL",
                    "tag_title": "\u5f71\u8bc4",
                    "tag_id": 1,
                    "istop": 0,
                    "source": 2,
                    "coverimg": "",
                    "showtime": "2020-01-06 05:09:38",
                    "uptime": "2017-08-22 16:53:52",
                    "intime": "2017-08-22 16:53:52",
                    "status": 1,
                    "ui_status": "\u4e0a\u67b6",
                    "film_code": "C10002"
                }, {
                    "id": 1,
                    "title": "\u7f8e\u5206\u7684\u6c34\u519b\u6ce8\u5b9a\u654c\u4e0d\u8fc714\u4ebf\u4eba\u6c11\u7fa4\u4f17\u7684\u773c\u775b",
                    "author": "\u542c\u98ce\u7684\u6b4c",
                    "tag_title": "\u5f71\u8bc4",
                    "tag_id": 1,
                    "istop": 0,
                    "source": 2,
                    "coverimg": "",
                    "showtime": "2020-01-06 05:09:37",
                    "uptime": "2020-01-06 05:09:37",
                    "intime": "2020-01-06 05:09:37",
                    "status": 1,
                    "ui_status": "\u4e0a\u67b6",
                    "film_code": null
                }, {
                    "id": 7,
                    "title": "\u7f8e\u5206\u7684\u6c34\u519b\u6ce8\u5b9a\u654c\u4e0d\u8fc714\u4ebf\u4eba\u6c11\u7fa4\u4f17\u7684\u773c\u775b",
                    "author": "\u542c\u98ce\u7684\u6b4c",
                    "tag_title": null,
                    "tag_id": null,
                    "istop": 0,
                    "source": 2,
                    "coverimg": "http:\/\/adminapi.cnews.com\/upload\/base\/2017\/08\/25\/599f9c6d92828\/o.jpg",
                    "showtime": "2020-01-06 05:09:37",
                    "uptime": "2017-08-25 13:40:36",
                    "intime": "2017-08-25 13:40:36",
                    "status": 1,
                    "ui_status": "\u4e0a\u67b6",
                    "film_code": null
                }, {
                    "id": 2,
                    "title": "\u4f60\u8981\u662f\u4e0d\u8d70\u8fdb\u9633\u5149\uff0c\u5c31\u4f1a\u88ab\u9ed1\u6697\u541e\u566c",
                    "author": "JYFL",
                    "tag_title": "\u5f71\u8bc4",
                    "tag_id": 1,
                    "istop": 0,
                    "source": 2,
                    "coverimg": "",
                    "showtime": "2017-08-22 14:50:54",
                    "uptime": "2017-08-22 16:52:06",
                    "intime": "2017-08-22 16:52:06",
                    "status": 1,
                    "ui_status": "\u4e0a\u67b6",
                    "film_code": "C10002"
                }, {
                    "id": 8,
                    "title": "\u4f60\u8981\u662f\u4e0d\u8d70\u8fdb\u9633\u5149\uff0c\u5c31\u4f1a\u88ab\u9ed1\u6697\u541e\u566c",
                    "author": "JYFL",
                    "tag_title": null,
                    "tag_id": null,
                    "istop": 0,
                    "source": 2,
                    "coverimg": "",
                    "showtime": "2017-08-22 14:50:54",
                    "uptime": "2017-08-25 14:24:47",
                    "intime": "2017-08-25 14:24:47",
                    "status": -1,
                    "ui_status": "",
                    "film_code": null
                }, {
                    "id": 10,
                    "title": "\u4f60\u8981\u662f\u4e0d\u8d70\u8fdb\u9633\u5149\uff0c\u5c31\u4f1a\u88ab\u9ed1\u6697\u541e\u566c",
                    "author": "JYFL",
                    "tag_title": null,
                    "tag_id": null,
                    "istop": 0,
                    "source": 2,
                    "coverimg": "http:\/\/adminapi.cnews.com\/upload\/base\/2017\/08\/25\/599fc32f5d29d\/o.jpg",
                    "showtime": "2017-08-22 14:50:54",
                    "uptime": "2017-08-25 14:26:59",
                    "intime": "2017-08-25 14:26:59",
                    "status": 0,
                    "ui_status": "\u5f85\u4e0a\u67b6",
                    "film_code": null
                }, {
                    "id": 11,
                    "title": "\u4f60\u8981\u662f\u4e0d\u8d70\u8fdb\u9633\u5149\uff0c\u5c31\u4f1a\u88ab\u9ed1\u6697\u541e\u566c",
                    "author": "JYFL",
                    "tag_title": null,
                    "tag_id": null,
                    "istop": 0,
                    "source": 2,
                    "coverimg": "http:\/\/adminapi.cnews.com\/upload\/base\/2017\/08\/25\/599fd2ae53dc7\/o.jpg",
                    "showtime": "2017-08-22 14:50:54",
                    "uptime": "2017-08-25 15:33:05",
                    "intime": "2017-08-25 15:33:05",
                    "status": 0,
                    "ui_status": "\u5f85\u4e0a\u67b6",
                    "film_code": null
                }, {
                    "id": 12,
                    "title": "\u4f60\u8981\u662f\u4e0d\u8d70\u8fdb\u9633\u5149\uff0c\u5c31\u4f1a\u88ab\u9ed1\u6697\u541e\u566c",
                    "author": "JYFL",
                    "tag_title": null,
                    "tag_id": null,
                    "istop": 0,
                    "source": 2,
                    "coverimg": "http:\/\/adminapi.cnews.com\/upload\/base\/2017\/08\/25\/599fd2b21a0d6\/o.jpg",
                    "showtime": "2017-08-22 14:50:54",
                    "uptime": "2017-08-25 15:33:09",
                    "intime": "2017-08-25 15:33:09",
                    "status": 0,
                    "ui_status": "\u5f85\u4e0a\u67b6",
                    "film_code": null
                }, {
                    "id": 13,
                    "title": "\u4f60\u8981\u662f\u4e0d\u8d70\u8fdb\u9633\u5149\uff0c\u5c31\u4f1a\u88ab\u9ed1\u6697\u541e\u566c",
                    "author": "JYFL",
                    "tag_title": null,
                    "tag_id": null,
                    "istop": 0,
                    "source": 2,
                    "coverimg": "http:\/\/adminapi.cnews.com\/upload\/base\/2017\/08\/28\/59a38cc9dde89\/o.jpg",
                    "showtime": "2017-08-22 14:50:54",
                    "uptime": "2017-08-28 11:23:54",
                    "intime": "2017-08-28 11:23:54",
                    "status": 1,
                    "ui_status": "\u4e0a\u67b6",
                    "film_code": null
                }, {
                    "id": 6,
                    "title": "\u8fd9\u53e5\u8bdd\u53cc\u5173\u7684\u5389\u5bb3\u5389\u5bb3",
                    "author": "\u8fd9\u53e5\u8bdd\u53cc\u5173\u7684\u5389\u5bb3",
                    "tag_title": "\u5f71\u8bc4",
                    "tag_id": 1,
                    "istop": 0,
                    "source": 0,
                    "coverimg": "http:\/\/adminapi.cnews.com\/upload\/base\/2017\/08\/23\/599cf68f57640\/o.jpg",
                    "showtime": "2017-08-22 14:50:53",
                    "uptime": "2017-09-01 18:44:49",
                    "intime": "2017-08-23 11:30:14",
                    "status": 0,
                    "ui_status": "\u5f85\u4e0a\u67b6",
                    "film_code": "1"
                }, {
                    "id": 14,
                    "title": "\u96f7\u795e\u6258\u5c14",
                    "author": "\u96f7\u795e\u6258\u5c14",
                    "tag_title": "\u5f71\u8bc4",
                    "tag_id": 1,
                    "istop": 0,
                    "source": 0,
                    "coverimg": "",
                    "showtime": "2017-08-22 14:50:53",
                    "uptime": "2017-09-04 17:43:37",
                    "intime": "2017-09-04 10:38:52",
                    "status": 0,
                    "ui_status": "\u5f85\u4e0a\u67b6",
                    "film_code": "C10002"
                }]
            },
            href: {
                urlFind: '/dyh5/web/find/view', //影讯详情
            },
            bottomNavItems: [
                '/dyh5/web/index/index?screening=1&cinema_code=66778833&area_code=110100', //首页?r=index/index&screening=1&cinema_code=66778833&area_code=110100
                '/dyh5/web/index/index?screening=1&cinema_code=66778833&area_code=110100', //推荐?r=index/index&screening=1&cinema_code=66778833&area_code=110100
                '/dyh5/web/snack/list?cinema_code=66778833', //商城?r=snack/list&cinema_code=66778833
                '/dyh5/web/my/index?cinema_code=66778833', //我的?r=my/index
            ]
        };

        console.dir(options)
    </script>
    <script src="/dist/find/index.js"></script>
    <script src="/js/find.js"></script>
</body>

</html>